.discover-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.discover-title h1 {
  width: fit-content;
  font-size: var(--fnt-38);
  font-weight: 700;
  text-transform: capitalize;
}