:root {
  --main-color-1: #170055;
  --main-color-2: #3E00FF;
  --main-color-3: #AE00FB;
  --main-color-4: #B5FFD9;
  --color-fnt-1: #fff
}

/* :root {
  --main-color-1: #393E46;
  --main-color-2: #6D9886;
  --main-color-3: #F2E7D5;
  --main-color-4: #F7F7F7;
} */

body {
  color: var(--color-fnt-1);
  background-color: var(--main-color-1)
}