.all-top {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0 !important;
  padding: 0 !important;
}

.all-top .all {
  position: fixed;
  padding: 0 12px;
}

@media (max-width:992px) {
  .all-top .all {
    position: relative;
    right: 0;
    width: 100%;
  }
}